---
import BaseLayout from "../layouts/BaseLayout.astro";

const title = "About";
const description = "About your blog.";
const permalink = `${Astro.site.href}about`;
---

<BaseLayout title={title} description={description} permalink={permalink} current="about">
  <div class="container">
    <h1>About</h1>
    <figure class="about-image">
      <img src="/assets/about.webp" alt="Illustration of a notebook" width="330" />
    </figure>
    <p>
      You really think you can code that thing? What do they got in there—Skynet? My teacher once
      told me: compile, and the world compiles with you. Syntax error, and I’ll give you something
      to debug, you little amateur. Logic finds a way. God creates Silicon. God destroys Silicon.
      God creates Hackers. Hackers destroy God. Hackers create AI. You know what? It’s cookies. I’ve
      crashed into a cache file. Forget the firewall! You’re obsessed with the firewall! Log us out
      of here! Is this my motherboard? Wh—what is—h—how did you get my motherboard?
    </p>
    <p>
      Hey, you know how I’m, like, always trying to save the galaxy? Here’s my chance. Hey—take a
      look at the Martians. Goodbye! I was part of a supernova. Just my luck—no oxygen. You’re a
      very talented young alien, with your own clever telepathy and… tentacles. Do you need a
      navigator? Black hole! So tell me—does it really exist? This saucer comes fully loaded: laser
      beams, anti-gravity boots, and… cup holders. Yes, yes, without the abduction! Do you have any
      idea how long it takes those space-time continuums to decompose?
    </p>
    <p>
      Yes, yes, without the mothballs! Do you have any idea how long it takes those bell-bottoms to
      come back in style? They’re weaponizing nostalgia. And the trend is ticking. My vintage dealer
      once told me: look fresh, and the world looks with you. Wear spandex, and I’ll give you
      something to cry about, you little hipster. It’s polyester. I’ve crashed into a disco ball.
      Forget the leather jacket! You’re obsessed with the leather jacket! Get us out of the ’70s! Is
      this my rotary phone? Wh—what is—h—how did you get my rotary phone?
    </p>
    <p>
      So you two flip burgers—flip burgers? What do they got in there, pink slime? My manager once
      told me: salt the fries and the world salts with you. Spill the grease, and I’ll give you
      something to cry about, you little fry cook. Hunger finds a way. God creates Wheat. God
      destroys Wheat. God creates Gluten. Gluten destroys God. Gluten creates Bagels. You really
      think you can grill that thing? You know what? It’s pickles. I’ve crashed into a pickle truck.
      Forget the drive-thru! You’re obsessed with the drive-thru! Get us out of the kitchen! Is this
      my deep fryer? Wh—what is—h—how did you get my deep fryer?
    </p>
    <p>
      Hey, you know how I’m always trying to save the timeline? Here’s my chance. Hey—take a look at
      the Vikings. Goodbye! I was part of the Renaissance. Just my luck—no Wi-Fi. You’re a very
      talented young gladiator, with your clever swordplay and questionable sandals. Do you need a
      promoter? Trojan Horse! So tell me—does it really exist? This chariot comes fully loaded:
      leather reins, spiked wheels, and… horse feed. Yes, yes, without the plague! Do you have any
      idea how long it takes stone pyramids to decompose? They’re using our own sundials against us.
      And the century… is ticking.
    </p>
  </div>
</BaseLayout>

<style>
  .about-image {
    float: right;
    margin: -3em -7em var(--space-2xl) var(--space-2xl);
    max-width: 300px;
  }

  .about-image img {
    border-radius: var(--radius-md);
    margin-bottom: 1.5em;
  }

  @media (max-width: 1020px) {
    .about-image {
      float: none;
      margin: 0 auto var(--space-2xl);
    }
  }
</style>
