<div>
  <img src="/assets/profile-pic.webp" alt="Headshot of Sergi">
  <p>
    Hi, I'm <strong>Sergi</strong>. I'm a software engineer and AI researcher
    You can follow me on <a href="https://x.com/Sergiycheck" target="_blank">X</a>
  </p>
</div>

<style>
  div {
    align-items: center;
    display: flex;
  }

  img {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    display: block;
    margin-right: 20px;
  }

  p {
    font-size: 1.125rem;
  }
</style>
