<footer>
  <span>
    &copy; {new Date().getFullYear()} AI software engineering blog.
  </span>
</footer>

<style>
  footer {
    color: var(--text-secondary);
    font-size: .8em;
    margin: var(--space-base) auto;
    max-width: 1400px;
    padding: var(--space-base) var(--space-2xl);
    text-align: center;
    width: 100%;
  }
</style>
