---
import Logo from "./Logo.astro";
import Nav from "./Nav.astro";

const { current = "" } = Astro.props;
---

<style>
  .header-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1400px;
    padding: var(--space-sm);
    width: 100%;
  }

  @media screen and (max-width: var(--screen-sm, 640px)) {
    .header-inner {
      padding: var(--space-sm) 0;
    }
  }
</style>

<header>
  <div class="header-inner">
    <Logo />
    <Nav current={current} />
  </div>
</header>
